@import "./reset.scss";
@import "./variables.scss";
@import "./themes/dark.scss";
@import "./themes/light.scss";

html,
body,
#app,
.app {
  min-height: 100vh;

  background: var(--bg-color);
  color: var(--primary-color);

  font: var(--font-l);
  
}